<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Error 404 - Page Not Found</title>
</head>

<body>
    <div class="main">
        <h1> Error 404</h1>
        {{>header}}
        <h2>{{error}}</h2>
    </div>
    {{>footer}}
</body>

</html>